/*----------FONTS----------*/

@font-face {
   font-family: "Montserrat";
   src: url("../fonts/Montserrat-Regular.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Montserrat Light";
   src: url("../fonts/Montserrat-Light.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Quicksand";
   src: url("../fonts/Quicksand-Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Lora";
   src: url("../fonts/Lora-Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}
