/*----------HEADER----------*/

$quicksand: 'Quicksand', sans-serif;
$light-blue: #309CBC;

header {
  position: absolute;
  padding: 1em;
  h1 {
    display: none;
  }
  .icon-stack, .icon-cross {
    color: white;
    font-size: 2em;
    &:hover {
      cursor: pointer;
    }
  }
  .icon-stack {
    color: white;
    z-index: 50;
  }
  .icon-cross {
    text-align: center;
    padding: .5em 0;
  }
  .main_nav {
    position: fixed;
    z-index: 100;
    background-color: #0b8793;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    @media (min-width: 34.375em) {
      width: 30%;
    }
    li {
      padding: 1.6em 0;
      text-align: center;
    }
    ul {
      a {
        width: 100%;
        color: white;
        text-decoration: none;
        font-size: 1.2em;
      }
    }
    &.is-active {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
    }
  }
}

.main_nav {
    li {
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    -webkit-transition: color .3s;
    transition: color .3s;
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 50%;
      right: 50%;
      bottom: 0;
      background: #360033;
      height: 100%;
      -webkit-transition-property: left, right;
      transition-property: left, right;
      -webkit-transition-duration: .3s;
      transition-duration: .3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
    &:hover {
      color: white;
    }
  }
  li:hover:before, li:focus:before, li:active:before {
    left: 0;
    right: 0;
  }
}

.socials {
  text-align: center;
  margin-top: 1em;
  a {
    text-decoration: none;
    color: white;
    font-size: 2em;
    margin: 0 .3em;
    -webkit-transition: color .3s;
    transition: color .3s;
    @media (min-width: 50em) {
      font-size: 1.5em;
    }
    &:hover {
      color: #360033;
    }
  }
}

@media (min-width: 34.375em) {
  .has-active-menu {
  overflow: hidden;
}

  .mask {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
  }

  .mask.is-active {
    width: 100%;
    height: 100%;
    opacity: .7;
    transition: opacity 0.3s;
  }
}
