/*----------LAYOUT----------*/

//-----HOME-----

.main_home {
  article {
    padding: 4em 0;
    @media (min-width: 34.375em) {
      padding: 6em 0;
    }
  }
}

.home_bio {
  p {
    width: 80%;
    margin: 1em auto;
    font-size: 1.5em;
  }
}

.home_projects_image {
  width: 90%;
  display: block;
  margin: 2em auto 0 auto;
  @media (min-width: 34.375em) {
    width: 44%;
    display: inline-block;
    margin: 4em 1% 0 1%;
  }
  &:last-child {
    margin-bottom: 4em;
  }
  figure {
    position: relative;
    overflow: hidden;
  }
  figcaption {
    padding-top: 29%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
  }
}

.home_skills {
  p {
    margin: 2em 0;
  }
}

.home_contact {
  a {
    display: block;
    width: 80%;
    margin: 1em auto;
    @media (min-width: 50em) {
      display: inline-block;
      width: 8em;
      margin: 2em 2em 0 2em;
    }
  }
}

.home_contact_links {
  margin: 2em 0;
}

.icon-newspaper, .icon-paint-format, .icon-keyboard {
  margin: .6em 0 .2em 0;
  @media (min-width: 34.375em) {
    margin-bottom: .6em;
  }
}

//-----PROJECTS-----

.projects_title {
  margin: 2em 0;
}

.projects_main {
  .image_left, .image_right {
    float: left;
    box-sizing: border-box;
    margin: 0 4% 1em 4%;
    @media (min-width: 34.375em) {
      margin: 0 4%;
    }
  }
  .projects_article {
    padding: 2em 0;
    @media (min-width: 34.375em) {
      padding: 4em 0;
    }
    h1 {
      margin: .5em 0;
      @media (min-width: 34.375em) {
        margin: 0 0 .3em 0;
      }
    }
    h2 {
      margin-bottom: .7em;
    }
    p {
      margin-bottom: 2em;
    }
    a {
      padding: .4em 1em;
    }
    .projects_link {
      display: inline-block;
    }
  }

  .projects_text {
    margin: 0 4%;
  }

  @media (min-width: 34.375em) {
    .image_left, .image_right {
      width: 40%;
    }
    .image_left {
      float: left;
    }
    .image_right {
      float: right;
    }
  }
}

//-----THOUGHTS-----

.thoughts_main {
  article {
    margin: 2em 2em;
    padding-top: 2em;
    h1 {
      margin-bottom: .1em;
    }
    p {
      margin: 1em 0;
    }
  }
  .first {
    padding-top: 0;
  }
}

//-----ABOUT-----

.contact_main {
  width: 100%;
  margin: 0 auto;
}

.about {
  padding: 0 2em;
  margin: 4em 0;
  img {
    margin-bottom: 2em;
  }
  p {
    margin-bottom: .8em;
  }
  @media (min-width: 34.375em) {
    padding: 0 5em;
    img {
      margin-bottom: 0;
    }
  }
}

.skills {
  padding: 3em 0;
  margin: 4em 0;
  .skills_graph {
    width: 90%;
    margin: 0 auto;
  }
}

#graph {
  width: 100%;
  height: 350px;
}

.contact {
  margin: 4em 0;
  p {
    text-align: center;
    margin: 2em 1em;
  }
  form {
    width: 90%;
    margin: 0 auto;
    @media (min-width: 34.375em) {
      width: 70%;
    }
    input, textarea {
      box-sizing: border-box;
      padding-left: .8em;
      margin-bottom: 1em;
      display: block;
      width: 100%;
    }
    input {
      height: 4em;
    }
    textarea {
      height: 10em;
      padding-top: .8em;
    }
    #submit {
      width: 50%;
      margin: 0 auto;
    }
    #last_name {
      float: right;
    }
    #first_name, #last_name {
      display: inline-block;
      width: 49%;
    }
  }
}
